.DS_Store
.atom/
.dart_tool/
.idea
.packages
.fvm/
.pub/
.flutter-plugins-dependencies
.vscode/
.idea/
.gradle/
ios/.generated/
packages
pubspec.lock
gen

example/android/.gradle/
example/.dart_tool/
example/.idea/
example/.packages
example/.pub/
example/build/
example/.packages
example/pubspec.lock
example/.flutter-plugins-dependencies
example/.flutter-plugins

android/.gradle/
.idea/
.dart_tool/
.packages
.pub/
build/
deploy/
.packages
pubspec.lock
.flutter-plugins-dependencies
.flutter-plugins
